# Dotfiles .gitignore #
#######################

# Directories
BraveSoftware/
dconf/
environment.d/
fontconfig/
git/
gnome-session/
goa-1.0/
gtk-3.0/
ibus/
nautilus/
protonmail/
pulse/
systemd/

# Files
mimeapps.list
user-dirs.dirs
user-dirs.locale

# Git
.git/
