# Dotfiles .gitignore #
#######################

# Directories
astro/
autostart/
.avalonia-build-tasks/
Bitwarden/
BraveSoftware/
bspwm/
bspwm_pacnew_2025-01-02/
cachyos/
dconf/
dunst/
emacs/
environment.d/
evolution/
filezilla/
fish/
fontconfig/
geany/
git/
glib-2.0/
gnome-session/
go/
goa-1.0/
gtk-3.0/
gtk-4.0/
kate/
KDE/
kde.org/
kdeconnect/
kdedefaults/
keepassxc/
ibus/
Kvantum/
libaccounts-glib/
libvirt/
light/
Logseq/
micro/
msmtp/
mu4e/
nautilus/
neofetch/
networkmanager-dmenu/
Nextcloud/
nitrogen/
nnn/
obmenu-generator/
openbox/
openbox_pacnew_2025-01-02/
plank/
protonmail/
pulse/
qt5ct/
qt6ct/
ranger/
rofi/
session/
systemd/
Thunar/
viewnior/
wal/
xfce4/
xsettingsd/
yay/

# Files
ags
arkrc
background
baloofileinformationrc
baloofilerc
bashrc
bluedevilglobalrc
cachyos-hello.json
dolphinrc
dunst
.DS_Store
emaildefaults
gnome-initial-setup-done
.gsd-keyboard.settings-ported
fastfetch
filetypesrc
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
hypr
kactivitymanagerd-statsrc
kactivitymanagerdrc
kate-externaltoolspluginrc
katerc
katevirc
kcminputrc
kconf_updaterc
kded5rc
kdeglobals
kglobalshortcutsrc
kiorc
knfsshare
konsolerc
konsolesshconfig
ksplashrc
ktimezonedrc
ktrashrc
kwalletrc
kwinoutputconfig.json
kwinrc
libinput-gestures.conf
mimeapps.list
ml4w
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
picom.conf
picom-ibhagwan.conf
picom-jonaburg.conf
picom-original.conf
QtProject.conf
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
xdg-desktop-portal-kderc

# Git
.git/
